<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="/static/css/contato.css">
    <script src="/static/js/contato.js"></script>
</head>

  <!-- Contato -->
    <section id="contact" class="text-center">
        <h2>Entre em Contato</h2>
        <p>Quer doar ou ser voluntário? Entre em contato conosco!</p>
        <p><strong>Email:</strong> <a href="mailto:doacoes@solidariedade.org">doacoes@solidariedade.org</a></p>
        <p><strong>Telefone:</strong> (99) 99999-9999</p>
    </section>