<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre a Campanha</title>
    <link rel="stylesheet" href="/static/css/sobre.css">
    <script src="/static/js/sobre.js"></script>

</head>

<!-- Seção Sobre -->
<section id="about" class="text-center">
    <h2>Sobre a Campanha</h2>
    <p>O Doe alimentos foi criado com o intuito de arrecadar alimentos para ajudar famílias em estado de vulnerabilidade social, onde no seu dia não conseguem garantir um alimento digno na sua mesa, dessa maneira as ongs e restaurante podem levar alimento, carinho e esperança para quem mais precisa. De forma prática e rápida, é montada e doada pelas ongs e restaurantes alimentos, a qual beneficiará aqueles que mais precisam. Participe da mudança que deseja ver no mundo!</p>
</section>